@import '../../styles/variables.css';

/*********************
      Services Page
**********************/
.services.page {
    width: 100%;
    padding-bottom: 5rem;
    min-height: calc(100vh - 80px - 60px);
    background-color: var(--color-primary-3);
}

/*---------------------
        Item
----------------------*/
.services.page > .item:first-of-type {
    padding-top: 5rem;
}

.services.page > .item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.services.page > .item:not(:first-of-type) {
    margin-top: 10rem;
}
/* Every second item */
.services.page > .item:nth-child(2n) {
    flex-direction: row-reverse;
}
.services.page > .item:nth-child(2n) > .text > .item-header {
    width: auto;
}

/*---------------------
      Item header
----------------------*/
.services.page > .item > .text > .item-header {
    text-transform: capitalize;
    width: 55rem;
    margin-bottom: 2rem;
    line-height: 1.2;
    font-size: 8rem;
}
/*---------------------
      Item text
----------------------*/
.services.page > .item > .text > p {
    width: 65rem;
    font-size: var(--font-size-pica-C);
}

/*---------------------
        Image
----------------------*/
.services.page > .item >  img {
    height: 30rem;
}

