/*********************
    Header Space
**********************/
.header-space {
    height: 7.4rem;
    width: 100%;
}

@media screen and (max-width: 950px) {
    .header-space {
        display: none;
    }
}
