/*************************
        Carousel
**************************/

/*---------------------
        Variables
-----------------------*/
.carousel {}

.carousel {
  display: flex;
  width: 80%;
  height: 70%;
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
}

/* Side nav */
.carousel > .side-nav {
  background: gray;
  height: 100%;
  width: 1px;
}
